#content {
	margin-top: -61px;
}
.mynavbar-fixed-top {
	right: 0px;
	left: 0px;
	z-index: 1030;
}
#scrollUp{
	bottom:50px;
	right:20px;
	width:38px;
	height:38px;
	background:url(../images/top.png) no-repeat
}
